:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}
body {
  background-color: var(--Grey-900);
  color: var(--White);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Figtree", sans-serif;
}
.card {
  background-color: var(--Grey-800);
  border-radius: 15px;
  padding: 1rem;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1.5px solid var(--Grey-500);
  margin-bottom: 1rem;
}
.social-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profile img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
.location {
  display: flex;
  align-items: center;
  color: var(--Green);
}
.bio {
  text-align: center;
  color: var(--White);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
