:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
body {
  background-color: var(--Grey-900);
  color: var(--White);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
}
.card {
  background-color: var(--Grey-800);
  border-radius: 12px;
  padding: 2.5rem;
  gap: 1rem;
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.social-links {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  text-decoration: none;
  background-color: var(--Grey-700);
  padding: 0.75rem;
  border-radius: 8px;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.social-links a:hover {
  background-color: var(--Green);
  color: var(--Grey-900);
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profile img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
  margin-bottom: 1.5rem;
}
.profile h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.location {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--Green);
  margin-bottom: 1.5rem;
}
.bio {
  font-size: 0.875rem;
  color: var(--White);
}

.attribution {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
  color: var(--White);
}
.attribution a {
  text-decoration: none;
  color: var(--Green);
}
.attribution a:hover {
  transition: all 0.2s ease-in-out;
  color: var(--White);
}
